body {
  background-color: #034694;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

h1 {
  margin-top: 40px;
}

p {
  margin-bottom: 40px;
}

/* Search bar styling */
.input-container {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
}

input[type="text"] {
  width: 80vw; /* Set width to 80% of viewport width for mobile */
  height: 40px;
  font-size: 20px; /* Increase font size for mobile */
  text-align: center;
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  transition: width 0.5s ease-in-out;
}

input[type="text"]:focus {
  width: 90vw; /* Set width to 90% of viewport width when focused for mobile */
}

/* Tiered columns */
ul {
  list-style: none;
  padding: 0;
  /* Add column layout */
  column-gap: 20px;
}

ul li {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #022853;
  color: white;
  font-size: 18px; /* Increase font size for mobile */
}

ul li::before {
  content: none;
}

.card {
  padding: 10px;
  border-radius: 5px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Tier 1: Reliable Sources */
#tier1 li {
  border: 7px solid green;
}

/* Tier 2: Mostly Reliable Sources */
#tier2 li {
  border: 7px solid yellow;
}

/* Tier 3: Mostly Unreliable Sources */
#tier3 li {
  border: 7px solid orange;
}

/* Tier 4: Unreliable Sources */
#tier4 li {
  border: 7px solid red;
}

/* Animation for fade in and out */
.fade-in {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Crest styling */
.crest {
  width: 150px; /* Set crest width as desired */
  height: auto;
  display: block;
  margin: 0 auto 20px; /* Add margin at the bottom to separate from search bar */
}

/* Media Queries for Flexible Column Layout */

/* For screens up to 768px wide (typical mobile and tablet size) */
@media (max-width: 768px) {
  /* Adjust the column count to 1 for single-column layout */
  ul {
    column-count: 1;
  }

  /* Adjust the search bar width to full screen width for mobile */
  input[type="text"] {
    width: 100vw;
  }

  /* Adjust font size for mobile */
  ul li,
  input[type="text"] {
    font-size: 24px;
  }
}
